body {
    box-sizing: border-box;
    background-image: url(imgs/station_3.jpg), url(imgs/bg_dot.jpg);
    background-size: auto, auto;
    background-repeat: no-repeat, repeat;
    background-position: bottom right, top left;
    background-attachment: fixed;
    background-color: #000000;
    font-family: 'Vollkorn', serif;
    color: #e3eaf0;
}

header {
    width: 55%;
    margin: 0 0 0 15%;
}

a {
    color: #70b3ea;
}

h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #70b3ea;
    text-shadow: 1px 1px 0px #b5e6f9;
}

header p {
    margin: .5rem auto;
    font-size: 1.1rem;
    width: 45%;
    float: right;
}

header div {
    float: left;
    width: 560px;
    height: 315px;
}

header div iframe {
    width: 100%;
    height: 100%;
}

main {
    width: 55%;
    margin-left: 15%;
    padding-top: .5rem;
    font-size: 1rem;
    clear: both;
}

h3 {
    font-family: 'Monda', sans-serif;
    font-size: 1.5rem;
    color: #70b3ea;
    text-shadow: 1px 1px 0px #b5e6f9;
    margin: 25px 0 -35px;
}

h2 {
    font-family: 'Monda', sans-serif;
    font-size: 2rem;
    color: #70b3ea;
    text-shadow: 1px 1px 0px #b5e6f9;
    margin-bottom: .5rem;
}

section {
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem;
}

.whereISS {
    width: 100%;
    margin-top: 0;
}

#map {
    height: 350px;
}

#description {
    height: auto;
    text-align: center;
}

.descp {
    display: inline-block;
    margin: 0 1.2rem;
}

.descp span {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #ffae23;
}

.numberOfAstros {
    color: #ffae23;
    font-size: 1.1rem;
}

.crew {
    width: 40%;
}

ul {
    margin: -10px 0 10px 0;
}

li {
    font-size: 1.1rem;
    list-style-type: circle;
    padding: 3px;
}

.viewISS {
    width: 50%;
    float: right;
}

.viewISS button {
    width: 100px;
    height: 25px;
    background-color: #ffae23;
    border-radius: 15px;
    border: 1px solid black;
    font-size: .75rem;
    font-weight: 700;
}

footer {
    width: 55%;
    margin-left: 15%;
    margin-top: 7%;
    text-align: center;
    color: #70b3ea;
    border-top: 2px solid #70b3ea;
}

footer img {
    margin: 0 3%;
}


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        background-image: url(imgs/station_4.jpg), url(imgs/bg_dot.jpg);
        background-size: auto, auto;
        background-repeat: no-repeat, repeat;
        background-position: top right, top left;
        background-attachment: scroll;
    }
    header {
        width: 80%;
        margin: auto;
    }
    header p {
        margin: 1rem auto;
        font-size: 1.1rem;
        width: 100%;
        float: none;
    }
    header div {
        float: none;
        margin: 50px auto 0;
        border: 5px solid #70b3ea;
    }
    main {
        width: 80%;
        margin: auto;
        padding-top: .5rem;
        font-size: 1rem;
    }
    section {
        display: block;
        vertical-align: top;
        margin-top: 1rem;
    }
    .crew {
        width: 80%;
        margin: auto;
    }
    .viewISS {
        width: 80%;
        float: none;
        margin: auto;
    }
    footer {
        width: 80%;
        margin: auto;
        text-align: center;
        color: #70b3ea;
        border-top: 2px solid #70b3ea;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        background-image: url(imgs/station_6.jpg), url(imgs/bg_dot.jpg);
    }
    h1 {
        font-size: 2.3rem;
    }
    header div {
        margin: 30px auto 0;
        border: 2px solid #70b3ea;
        width: 350px;
    }
    h2 {
        font-size: 1.75rem;
    }
    .viewISS button {
        display: block;
        margin: 10px auto;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        background-image: url(imgs/bg_dot.jpg);
    }
    header div {
        width: 300px;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
    header div {
        width: 200px;
    }
}
